<%= provide :title, t("home.title") %>
<%= content_for :view_specific_css do %>
  <%= stylesheet_link_tag "application", "static_page" %>
<% end %>
<div class="row padding-twenty">
  <h1><%= t "home.categories" %></h1>
  <div class="col-lg-12 padding-zero">
    <div class="col-lg-4 padding-zero">
      <select class="form-control">
        <option><%= t "home.select.item1" %></option>
        <option><%= t "home.select.item2" %></option>
        <option><%= t "home.select.item3" %></option>
      </select>
    </div>
  </div>
</div>

