<%= form_for @word, url: path do |f| %>
  <div class="col-lg-12 padding-zero">
    <%= render "shared/error_messages", object: f.object %>
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
    <%= f.label :sound %>
    <%= f.text_field :sound, class: "form-control" %>
  </div>

  <div class="col-lg-12 padding-zero">
    <%= f.fields_for :answers do |ff| %>
      <div class="col-lg-12 padding-zero margin-top-20 ">
        <%= "#{t "admin.words.answer"} #{increase_one ff
        .options[:child_index]}" %>
      </div>
      <div class="col-lg-12 padding-zero">
        <%= ff.label :content %>
      </div>
      <div class="col-lg-12 padding-zero">
        <div class="col-lg-10 padding-zero">
          <%= ff.text_field :content, class: "form-control" %>
        </div>
        <div class="col-lg-2 padding-zero">
          <%= ff.label "is_correct_true", "correct" %>
          <%= ff.radio_button :is_correct, ff.object.is_correct,
          checked: ff.object.is_correct, class: "answers" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-12 text-center margin-top-20">
    <%= f.submit t("admin.words.submit"), class: "btn btn-default",
      id: "form-word" %>
  </div>
<% end %>
