<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t "admin.words.word.id" %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= t "admin.words.word.content" %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= t "admin.words.word.sound" %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= t "admin.words.word.category_id" %>
          </Data>
        </Cell>
      </Row>
      <% @words.each do |word| %>
        <Row>
          <Cell><Data ss:Type="Number"><%= word.id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= word.content %></Data></Cell>
          <Cell><Data ss:Type="String"><%= word.sound %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= word.category_id %></Data></Cell>
        </Row>
        <Row>
          <Cell></Cell>
          <Cell>
            <Data ss:Type="String"><%= t "admin.words.answer.id" %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= t "admin.words.answer.content" %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= t "admin.words.answer.is_correct"%>
            </Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= t "admin.words.answer.word_id" %>
            </Data>
          </Cell>
        </Row>
        <% word.answers.each do |answer| %>
          <Row>
            <Cell></Cell>
            <Cell><Data ss:Type="Number"><%= answer.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= answer.content %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= answer.is_correct.to_s %></Data>
            </Cell>
            <Cell><Data ss:Type="Number"><%= answer.word_id %></Data>
            </Cell>
          </Row>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
