<% provide :title, t("follow.follow_title") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= link_to @user.name, @user %></h1>
      <%= gravatar_for @user, size: 50 %>
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-4">
    <h3><%= t "follow.follow_title" %></h3>
    <% @users.each do |following| %>
      <div>
        <%= gravatar_for @user, size: 50 %>
        <%= link_to following.name, following %>
      </div>
    <% end %>
  </div>
</div>
