<% provide :title, @user.name %>
<%= content_for :view_specific_css do  %>
  <%= stylesheet_link_tag "application", "user", "static_page"  %>
<% end %>
<div class="row padding-twenty">
  <div class="col-lg-3 padding-zero text-center">
    <%= render "layouts/user" %>
    <h1><%= @user.name %></h1>
    
    <%= render "shared/stats" %>
    <%= render "follow_form" if logged_in? %>
  </div>
  <div class="col-lg-9 padding-zero">
    <div class="col-lg-12">
      <div class="col-lg-6">
        <%= link_to t("users.show.words"), words_path, class: "btn btn-primary btn-home max-width" %>
      </div>
      <div class="col-lg-6">
        <%= link_to t("category.button_lesson"), categories_path,
          class: "btn btn-primary btn-home max-width" %>
      </div>
    </div>
    <div class="col-lg-12">
      <h3><%= t "users.show.activities" %></h3>
      <hr>
    </div>
    <div class="col-lg-12">
      <% if @user.activities.any?  %>
        <ul class="list-activities">
          <% @user.activities.reverse.each do |activity| %>
            <li><%= activity.show_activity %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
