<%= provide :title, t("home.title") %>
<%= content_for :view_specific_css do %>
  <%= stylesheet_link_tag "application", "static_page" %>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="text-center"><%= @lesson.category.name %></h1>
  </div>
  <div class="col-lg-12">
    <table data-toggle="table"
        data-search="true"
        data-pagination="true"
        data-page-size=10
        data-page-list="[10,20,All]"
        data-height="500 "
    >
      <thead>
        <tr>
          <th>STT</th>
          <th>Japanese</th>
          <th>Vietnamese</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each_with_index do |result, index| %>
          <tr>
            <td><%= increase_one index %></td>
            <td><%= result.word.content %></td>
            <td><%= result.word.answers.correct.first.content %></td>
            <td>
              <% if result.answer.nil? %>
                <span class="glyphicon glyphicon-ban-circle color-failed">
                </span>
              <% else %>
                <% if result.answer.is_correct %>
                  <span class="glyphicon glyphicon-ok-circle color-success">
                  </span>
                <% else %>
                  <span class="glyphicon glyphicon-ban-circle color-failed">
                  </span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-12 text-right">
    <%= link_to t("learn_lessos.continue"), categories_path,
    class: "btn btn-default" %>
  </div>
</div>
