<%= provide(:title, t("learn_lesson.title")) %>
<%= content_for :view_specific_css do %>
  <%= stylesheet_link_tag "application", "static_page" %>
<% end %>
<div class="row">
  <div class="col-lg-12 padding-bottom-20">
    <h1 class="text-center">
      <%= @lesson.category.name %>
    </h1>
    <%= form_for @lesson, url: category_lesson_path do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="col-lg-12 padding-left-80">
        <%= f.fields_for :results do |ff| %>
          <h5><%= increate_one ff.options[:child_index] %>.
            <%= ff.object.word.content %></h5>
          <% ff.object.word.answers.each do |answer| %>
            <div class="col-lg-12">
              <%= ff.radio_button :answer_id, answer.id, checked: false %>
              <%= ff.label "answer_id_#{answer.id}", answer.content,
              class: "font-weight-normal" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-lg-12 text-center">
        <%= f.submit t("learn_lesson.finish"), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
