<% provide :title, t("admin.category.title") %>
<h2><%= t "admin.category.title" %></h2>
<div class="table-responsive table-condensed admin-category">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "admin.category.category_id" %></th>
        <th><%= t "admin.category.category_name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index | %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= category.name %></td>
          <td>
          <%= link_to t("admin.category.edit_category"),
            "#", class: "glyphicon glyphicon-pencil" %>
          </td>
          <td>
          <%= link_to t("admin.category.delete_category"),
            "#", class: "glyphicon glyphicon-trash" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
