<% provide :title, t("admin.category.title") %>
<%= content_for :view_specific_css do  %>
  <%= stylesheet_link_tag "application", "user", "static_page" %>
<% end %>
<h2><%= t "admin.category.title" %></h2>
<div class="form">
  <div class="form-group">
    <%= link_to t("admin.category.bt_new"), new_admin_category_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="table-responsive table-condensed">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "admin.category.category_id" %></th>
        <th><%= t "admin.category.category_name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index | %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= category.name %></td>
          <td>
            <%= link_to t("admin.category.show_category"),
              admin_category_words_path(category_id: category.id) %>
          </td>
          <td>
          <%= link_to t("admin.category.edit_category"),
            edit_admin_category_path(category) %>
          </td>
          <td>
          <%= link_to t("admin.category.delete_category"),
            [:admin, category], method: :delete,
            data: {confirm: t("admin.category.confirm_delete")} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
