<% provide :title, t("list_category") %>
<h2> <%= t"category_title" %> </h2>
<div class="table-responsive table-condensed">
  <table class="table">
    <thead>
      <tr>
        <th class="index"> <%= t"category_id" %> </th>
        <th><%= t"category_name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index| %>
        <tr>
          <td><%= index.to_i + 1 %></td>
          <td><%= category.name %></td>
          <td>
            <%= link_to t("categoy_button_start"),
              "#", method: :post %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</ul>
<%= will_paginate %>
