<% provide :title, t("category.list_category") %>
<%= content_for :view_specific_css do  %>
  <%= stylesheet_link_tag "application", "user","static_page" %>
<% end %>
<h2> <%= t"category.category_title" %> </h2>
<div class="table-responsive table-condensed">
  <table class="table">
    <thead>
      <tr>
        <th class="index"> <%= t "category.category_id" %> </th>
        <th><%= t "category.category_name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= category.name %></td>
          <td>
            <%= link_to t("category.categoy_button_start"),
              category_lessons_path(category), method: :post%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</ul>
<%= will_paginate %>
