<% provide :title, t("admin.index_delete.title") %>
<%= content_for :view_specific_css do  %>
  <%= stylesheet_link_tag "application", "user","static_page" %>
<% end %>
<h2><%= t "admin.index_delete.title"  %></h2>
<%= form_tag admin_users_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: t("admin.index_delete.search_text"), class: "form-control"  %>
  <%= submit_tag t("admin.index_delete.bt_search"), class: "btn btn-primary"%>
<% end %>
<div class="table-responsive table-condensed">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "admin.index_delete.id" %></th>
        <th><%= t "admin.index_delete.avatar" %></th>
        <th><%= t "admin.index_delete.name" %></th>
        <th><%= t "admin.index_delete.email" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each.with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= gravatar_for_admin user %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if current_user.is_admin? && !current_user?(user) %>
              <%= link_to t("admin.index_delete.view_user"), [:admin, user] %>|
              <%= link_to t("admin.index_delete.delete_user"), [:admin, user],
                method: :delete, data: {confirm: t("admin.index_delete.confirm_del")} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
